<div id="academy-course" class="page-layout simple left-sidebar inner-scroll">
    <!-- SIDEBAR -->
    <fuse-sidebar
        class="sidebar"
        name="academy-course-left-sidebar-1"
        position="left"
        lockedOpen="gt-md"
    >
        <!-- SIDEBAR CONTENT -->
        <div class="content" fusePerfectScrollbar>
            <div class="steps">
                <div
                    class="step"
                    *ngFor="
                        let step of course.steps;
                        let i = index;
                        let last = last;
                        let first = first
                    "
                    (click)="gotoStep(i)"
                    [ngClass]="{
                        current: currentStep === i,
                        completed: currentStep > i,
                        last: last,
                        first: first
                    }"
                >
                    <div class="index">
                        <span>{{ i + 1 }}</span>
                    </div>
                    <div class="title">{{ step.title }}</div>
                </div>
            </div>
        </div>
        <!-- / SIDEBAR CONTENT -->
    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent p-24"
            fxLayout="row"
            fxLayoutAlign="start center"
        >
            <button
                mat-icon-button
                class="sidebar-toggle mr-16"
                fxHide.gt-md
                (click)="toggleSidebar('academy-course-left-sidebar-1')"
            >
                <mat-icon>menu</mat-icon>
            </button>

            <button
                mat-icon-button
                class="mr-16"
                [routerLink]="'/apps/academy/courses'"
            >
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div>
                <h2>{{ course.title }}</h2>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="course-content" class="content">
            <ng-container *ngFor="let step of course.steps; let i = index">
                <div
                    class="course-step"
                    fusePerfectScrollbar
                    *ngIf="currentStep === i"
                    [@slideIn]="animationDirection"
                >
                    <div id="course-step-content" class="course-step-content">
                        <div [innerHTML]="step.content"></div>
                        <form *ngIf="i == 0" [formGroup]="materiaForm">
                            <div
                                fxLayout="column"
                                fxLayoutAlign="start start"
                                fxLayoutGap="gappx"
                            >
                                <mat-form-field
                                    class="example-full-width px-12"
                                >
                                    <input
                                        matInput
                                        type="number"
                                        placeholder="Quantidade de matérias-primas"
                                        formControlName="materia_quantity"
                                    />
                                </mat-form-field>
                                <div
                                    class="example-full-width"
                                    *ngFor="
                                        let item of [].constructor(
                                            materiaForm.get('materia_quantity')
                                                .value
                                        );
                                        let i = index
                                    "
                                >
                                    <mat-form-field
                                        class="example-half-width p-12"
                                    >
                                        <input
                                            matInput
                                            type="text"
                                            formControlName="materia_{{
                                                i + 1
                                            }}_n"
                                            placeholder="Matéria-prima {{
                                                i + 1
                                            }}"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        class="example-half-width p-12"
                                    >
                                        <input
                                            matInput
                                            type="number"
                                            formControlName="materia_{{
                                                i + 1
                                            }}"
                                            placeholder="Disponibilidade {{
                                                i + 1
                                            }}"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>

                        <form *ngIf="i == 1" [formGroup]="productForm">
                            <div
                                fxLayout="column"
                                fxLayoutAlign="start start"
                                fxLayoutGap="gappx"
                            >
                                <mat-form-field
                                    class="example-full-width px-12"
                                >
                                    <input
                                        matInput
                                        type="number"
                                        placeholder="Quantidade de produtos"
                                        formControlName="product_quantity"
                                    />
                                </mat-form-field>
                                <div
                                    class="example-full-width"
                                    *ngFor="
                                        let item of [].constructor(
                                            productForm.get('product_quantity')
                                                .value
                                        );
                                        let i = index
                                    "
                                >
                                    <mat-form-field
                                        class="example-half-width p-12"
                                    >
                                        <input
                                            matInput
                                            type="text"
                                            placeholder="Produto {{ i + 1 }}"
                                            formControlName="product_{{
                                                i + 1
                                            }}_n"
                                        />
                                    </mat-form-field>

                                    <mat-form-field
                                        class="example-half-width p-12"
                                    >
                                        <input
                                            matInput
                                            type="number"
                                            formControlName="product_{{
                                                i + 1
                                            }}"
                                            placeholder="Participaçao {{
                                                i + 1
                                            }}"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        class="example-half-width p-12"
                                    >
                                        <input
                                            matInput
                                            type="text"
                                            placeholder="Mínimo a ser produzido {{
                                                i + 1
                                            }}"
                                            formControlName="product_{{
                                                i + 1
                                            }}_min"
                                        />
                                    </mat-form-field>

                                    <mat-form-field
                                        class="example-half-width p-12"
                                    >
                                        <input
                                            matInput
                                            type="number"
                                            formControlName="product_{{
                                                i + 1
                                            }}_max"
                                            placeholder="Máximo a ser produzido {{
                                                i + 1
                                            }}"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>

                        <form
                            *ngIf="i == 2"
                            class="m-24"
                            [formGroup]="constraintForm"
                        >
                            <div
                                fxLayout="column"
                                fxLayoutAlign="start start"
                                fxLayoutGap="gappx"
                                *ngFor="
                                    let item of [].constructor(
                                        productForm.get('product_quantity')
                                            .value
                                    );
                                    let i = index
                                "
                            >
                                <div
                                    class="example-full-width"
                                    *ngFor="
                                        let item of [].constructor(
                                            materiaForm.get('materia_quantity')
                                                .value
                                        );
                                        let j = index
                                    "
                                >
                                    <mat-form-field
                                        class="example-half-width p-12"
                                    >
                                        <input
                                            matInput
                                            type="number"
                                            placeholder="quantidade de {{
                                                materiaForm.get(
                                                    'materia_' + (j + 1) + '_n'
                                                ).value
                                            }} para {{
                                                productForm.get(
                                                    'product_' + (i + 1) + '_n'
                                                ).value
                                            }} 
                                            "
                                            formControlName="value_{{
                                                i + 1
                                            }}_{{ j + 1 }}"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <span>{{ result | json }}</span>
                        </form>
                    </div>
                </div>
            </ng-container>
        </div>
        <!-- / CONTENT -->

        <div class="step-navigation">
            <button
                mat-fab
                class="previous mat-accent fuse-white-fg"
                (click)="gotoPreviousStep()"
                [disabled]="currentStep === 0"
                [fxHide]="currentStep === 0"
            >
                <mat-icon>chevron_left</mat-icon>
            </button>

            <button
                mat-fab
                class="next mat-accent fuse-white-fg"
                (click)="gotoNextStep()"
                [disabled]="currentStep === course.totalSteps - 1"
                [fxHide]="currentStep === course.totalSteps - 1"
            >
                <mat-icon>chevron_right</mat-icon>
            </button>

            <button
                mat-fab
                class="done green-600"
                (click)="executeSolver()"
                [disabled]="currentStep !== course.totalSteps - 1"
                [fxShow]="currentStep === course.totalSteps - 1"
            >
                <mat-icon>check</mat-icon>
            </button>
        </div>
    </div>
    <!-- / CENTER -->
</div>
